* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

h1 {
    color: white;
    background-color: darkorange;
    font-size: 36px;
    text-align: center;
}

button {
    background-color: cadetblue;
    font-size: 26px;
    text-align: center;
}